# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Exclude all .idea directory by default
.idea
# security
application.yml
application-test.yml
properties.env
.env