.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

}

.home-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.service-title {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-link {
    text-decoration: none;
    font-size: 1em;
    color: #007bff;
}


.auth-link:hover {
    background-color: #007bff;
    color: white;
}

.categories {
    width: 100%; /* 부모 요소 너비를 100%로 설정 */
    max-width: 500px; /* 원하는 경우 최대 너비 지정 */
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    gap: 10px; /* 링크 간 간격 */
}

.category-link {
    display: block; /* 블록 요소로 설정하여 너비를 부모 요소에 맞춤 */
    font-size: 1.5em;
    text-decoration: none;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%; /* 부모 요소(main-content)의 전체 너비 차지 */
    max-width: 300px; /* 최대 너비를 제한하여 가로 길이 조절 */
    text-align: center; /* 텍스트 가운데 정렬 */
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box; /* padding과 border가 요소 크기에 포함되도록 설정 */
}


.category-link:hover {
    background-color: #007bff;
    color: white;
}
