/* App.css */
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the title and auth buttons as a group */
  align-items: center;
  background-color: #f8f9fa;
  padding: 80px 20px;
  border-bottom: 1px solid #dee2e6;
  z-index: 1000;
}

.fixed-header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-family: Arial, sans-serif;
  flex-grow: 1; /* Pushes title to take available space */
  text-align: center; /* Center-align the title within available space */
}

.auth-buttons {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 50px; /* Positions auth buttons on the right side */
}

.auth-link {
  text-decoration: none;
  font-size: 1em;
  color: #007bff;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  background: none;
  cursor: pointer;
}
.auth-link:hover {
  background-color: #007bff;
  color: white;
}

.main-content {
  margin-top: 210px; /* Sidebar의 상단 여백과 일치 */
  margin-left: calc(200px + 10%); /* Sidebar의 너비 + 8% 왼쪽 여백 */
  margin-right: calc(200px + 8%); /* 오른쪽 여백: Sidebar 너비 + 8% */
  padding: 20px;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.linkStyle {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
