.profile-layout {
    display: flex;
    height: 100vh;
    margin-top: 220px;
    overflow: hidden;
    width: 100%;
}

.profile-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}